<link rel=stylesheet href="/css/article_content.css">
<div class="article">
	<div class="author_name">
		<a href="/people/<%= article.author._id %>">
			<img src="/img/<%= article.author.avatar %>">
			<span>
				<%= article.author.name %>
			</span>
		</a>
	</div>
	<div class="article_title">
		<a href="/article/<%= article._id %>">
			<%= article.title %>
		</a>
	</div>
	<div class="article_content">
		<img src="/img/default.jpg" alt="">
		<div class="content">
			<%- article.content %>
		</div>
	</div>
	<div class="article_look">
		浏览量：<%= article.pv %>
	</div>
	<div class="article_time">
		<%= article.created_at %>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {

}
</script>