<%- include('header') %>
<%- include('components/article_detail_header') %>

<link rel=stylesheet href="/css/article_detail.css">


<div class="container">
    <div class="title">
        <%= article.title %>
    </div>
    <div class="user">
        <a href="/people/<%= article.author._id %>">
            <img src="/img/<%= article.author.avatar %>"/>
        </a>
        <span class="name">
            <%= article.author.name %>
        </span>
        <span class="time">
            创建于：<%= article.created_at %>
        </span>
    </div>
    <div class="content">
        <%- article.content %>
    </div>
    <div class="operation">
        <span class="look">浏览量：<%= article.pv %></span>
        <% if(article.author._id==user._id){ %>
            <a href="/article/<%= article._id %>/edit">
                编辑
            </a>
            <a href="/article/<%= article._id %>/remove">
                删除
            </a>
        <%}%>
    </div>
</div>

<style type="text/css">
    
</style>


<%- include('footer') %>
