<%- include('header') %>
<%- include('components/article_detail_header') %>

<link rel=stylesheet href="/css/write_edit.css">

<div class="wrap">
    <form action="/article/<%= article._id %>" method="post">
        <h1>标题:</h1><input class="title" name="title" type="text" value="<%= article.title %>">
        <h1>内容:</h1><textarea name="content" rows="15">
                <%= article.content %>
        </textarea>
        <input class="submit" type="submit" value="更新">
    </form>
</div>

<%- include('footer') %>
